<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/seyeologunja/Users/seyeologunja/Documents/UI_AUTOMATION_TASK/Page Object Model/orangehrm">
        <classes>
            <class name="testLogin.LoginTests">
                <methods>
                    <include name="testALoginPanel"/>
                    <include name="testACompanyLogo"/>
                    <include name="testAForgotPassword"/>
                    <include name="VerifyLogin"/>
                </methods>
            </class>
            <class name="testDashBoard.DashboardTest">
                <methods>
                    <include name="testPendingLeaveRequest"/>
                    <include name="CheckingLogout"/>
                </methods>
            </class>
            <class name="testSetup.setupTests">
                <methods>
                    <include name="setUp"/>
                    <include name="closeBrowser"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>